<mat-toolbar class="app-title">Movies</mat-toolbar>
<div class="home-content">

  <mat-card class="home-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Angular Material @ngrx</mat-card-title>
      <mat-card-subtitle>Check this Home</mat-card-subtitle>
    </mat-card-header>
    <img alt="Angular Material 7" mat-card-image src="../assets/images/angular-material-post.png">
    <mat-card-content>
      <p>
        Angular Material with @ngrx and lazy loading, click OPEN button then
        you can see sidenav content (with the current store value)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="open()" color="accent" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="home-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Angular Material @ngrx</mat-card-title>
      <mat-card-subtitle>Check this Home</mat-card-subtitle>
    </mat-card-header>
    <img alt="Angular Material 7" mat-card-image src="../assets/images/angular-material-post.png">
    <mat-card-content>
      <p>
        Angular Material with @ngrx and lazy loading, click OPEN button then
        you can see sidenav content (with the current store value)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="open()" color="accent" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="home-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Angular Material @ngrx</mat-card-title>
      <mat-card-subtitle>Check this Home</mat-card-subtitle>
    </mat-card-header>
    <img alt="Angular Material 7" mat-card-image src="../assets/images/angular-material-post.png">
    <mat-card-content>
      <p>
        Angular Material with @ngrx and lazy loading, click OPEN button then
        you can see sidenav content (with the current store value)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="open()" color="accent" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="home-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Angular Material @ngrx</mat-card-title>
      <mat-card-subtitle>Check this Home</mat-card-subtitle>
    </mat-card-header>
    <img alt="Angular Material 7" mat-card-image src="../assets/images/angular-material-post.png">
    <mat-card-content>
      <p>
        Angular Material with @ngrx and lazy loading, click OPEN button then
        you can see sidenav content (with the current store value)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="open()" color="accent" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="home-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Angular Material @ngrx</mat-card-title>
      <mat-card-subtitle>Check this Home</mat-card-subtitle>
    </mat-card-header>
    <img alt="Angular Material 7" mat-card-image src="../assets/images/angular-material-post.png">
    <mat-card-content>
      <p>
        Angular Material with @ngrx and lazy loading, click OPEN button then
        you can see sidenav content (with the current store value)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="open()" color="accent" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>

</div>
