<mat-toolbar class="app-title">Add Movie</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form (ngSubmit)="add()" (reset)="resetForm()" [formGroup]="addMoviesForm" autocomplete="off" novalidate>
      <mat-card-content>
        <app-input-text [formGroup]="addMoviesForm" controlName="title" placeholder="Title"></app-input-text>
        <app-input-text [formGroup]="addMoviesForm" controlName="imageUrl" placeholder="Image url"></app-input-text>
        <app-input-date
          [formGroup]="addMoviesForm"
          controlName="releaseDate"
          placeholder="Release Date"
        >
        </app-input-date>
        <app-textarea [formGroup]="addMoviesForm" controlName="description" placeholder="Description"></app-textarea>
        <app-input-number
          [formGroup]="addMoviesForm"
          [step]="0.1"
          controlName="score"
          placeholder="Score"
        >
        </app-input-number>
        <app-input-text [formGroup]="addMoviesForm" controlName="IMDBurl" placeholder="IMDB url"></app-input-text>
        <app-select [formGroup]="addMoviesForm" [options]="genres" controlName="genre" placeholder="genre"></app-select>
      </mat-card-content>
      <mat-card-actions>
        <button color="accent" mat-raised-button type="submit">Save</button>
        <button color="warn" mat-raised-button type="reset">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
