<h1>Welcome to Classificados, <%= @name %>! </h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium vel nisi voluptatibus consectetur totam! Cupiditate doloribus eum numquam asperiores unde quis porro, optio veritatis, pariatur facilis laboriosam repellat consequuntur? Eos, nam quos nostrum a facere dolor beatae velit cumque harum architecto, nihil eius cum libero fuga accusamus? Soluta, dignissimos fugit.
</p>
